<button class="button {{style}}" type={{type}}>
    {{#if iconBefore}}
        <img class="button-icon" alt="icon" src={{iconBefore}} />
    {{/if}}
    {{#if text}}
        <span>{{text}}</span>
    {{/if}}
    {{#if iconAfter}}
        <img class="button-icon" alt="icon" src={{iconAfter}} />
    {{/if}}
</button>